.my-container {
    background: linear-gradient(to bottom, #f0f9ff 0%,#70c8ff 100%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    min-height: calc(100vh - 120px);
    padding: 30px 30px;
    text-align: center;
}

form {
    overflow: auto;
    margin: 0 auto;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black;
    background: white !important;
    border-radius: 5px !important;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 !important;
}

.mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

button {
    height: 55px;
    font-size: 20px;
    /* margin: -2px 0; */
}

.error-div {
    padding: 10px 0;
    line-height: 60px;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    max-width: 800px;
    min-height: 60px;
    font-size: 20px;
    color: white;
    margin: 20px auto;
}

.success-div {
    padding: 10px 0;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
    max-width: 800px;
    min-height: 60px;
    font-size: 20px;
    color: white;
    background: green;
    margin: 20px auto;
}

.mobile-form {
    max-width: 350px;
    padding: 20px 50px;
    overflow: auto;
}

.success-div-mobile {
    padding: 10px 0;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    min-height: 60px;
    font-size: 20px;
    color: white;
    background: green;
    margin: 20px auto;
}

.error-div-mobile {
    padding: 10px 0;
    line-height: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    min-height: 60px;
    font-size: 20px;
    color: white;
    margin: 20px auto;
}

.button-mobile {
    width: 100%;
    height: 60px;
    font-size: 20px;
    margin-top: 10px;
}

.field-mobile {
    width: 100%;
}

.field-desktop {
    width: 140px
}