form {
    overflow: auto;
    margin: 0 auto;
}


button {
    height: 55px;
    font-size: 20px;
    /* margin: -2px 0; */
}

.mobile-form {
    max-width: 350px;
    padding: 20px 50px;
    overflow: auto;
}

.button-mobile {
    width: 100%;
    height: 60px;
    font-size: 20px;
    margin-top: 10px;
}

.field-mobile {
    width: 100%;
}

.field-desktop {
    width: 140px
}



.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 !important;
}

.mat-form-field-wrapper {
    padding-bottom: 0 !important;
}