form {
    max-width: 500px;
    padding: 20px 0;
    overflow: hidden;
    margin: 0 auto;
}

.main-card {
    max-width: 600px;
    margin: 0 auto;
}

button {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
    margin: 5px 0;
    width: 100px;
}

.bottom-button {
    margin: 5px 5px;
    max-width: 40%;
}

h2 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.free-days-div {
    margin: 0 auto;
}

.form-field {
    width: 180px;
}