<div class= "my-container">
  <form [formGroup]="freeDaysCreateForm">
    <div formArrayName="freeDays">    
      <div *ngFor="let freeDayForm of freeDaysFormArray.controls; let i = index">
        <div [formGroupName]="i" class="row">
          <mat-form-field appearance="outline" class="col-xs-12 col-sm-5">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type" name="type">
              <mat-option *ngFor="let type of freeDayTypes" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-xs-12 col-sm-5">
            <mat-label>Date</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button mat-raised-button color="warn" (click)="removeFreeDay(i)" class="col-xs-12 col-sm-2">Remove</button>
        </div>
      </div>
    </div>

    <div>
      <button class="bottom-button" mat-raised-button color="accent" (click)="addFreeDay()">Add</button>
      <button class="bottom-button" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </div>
  </form>
  
  <div *ngFor="let freeDay of freeDays" class="free-days-div">
    <app-free-day [freeDay]="freeDay"  (deleteEmitter)="deleteFreeDay($event)"></app-free-day>
  </div>

</div>

