form {
    max-width: 600px;
    padding: 20px 50px;
    overflow: hidden;
    margin: 0 auto;
}

button {
    height: 60px;
    font-size: 15px;
    margin: 5px 0;
}

.bottom-button {
    margin: 5px 5px;
    max-width: 40%;
}

h2 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.free-days-div {
    margin: 0 auto;
}