<form [formGroup]="freeDayEditForm" *ngIf="freeDay">
  <mat-form-field appearance="outline">
    <mat-label>Type</mat-label>
    <mat-select formControlName="type" name="type">
      <mat-option *ngFor="let type of freeDayTypes" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div>
    <button mat-button (click)="onSubmit()">Submit</button>  
    <button mat-raised-button color="warn" (click)="deleteFreeDay(freeDay.id)">Delete</button>
  </div>
</form>
