<div class="my-container">
  <!-- <div class="calendar-selector"> -->
    <button class="arrow-button" mat-stroked-button mat-raised-button (click)="previous()">&#60;</button>
    <mat-form-field appearance="outline" class="month-select">
      <mat-select placeholder="Month" [formControl]="monthFormControl" name="month">
        <mat-option *ngFor="let monthNb of monthsNumbers" [value]="monthNb">
          {{months[monthNb]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="arrow-button" mat-stroked-button mat-raised-button (click)="next()">&#62;</button>
  <!-- </div> -->
  <div>
    <div *ngFor="let week of calendar">
      <div>
        <p class="project-name"></p>
        <p class="calendar-input" *ngFor="let day of week">{{day !== -1 ? day : ''}}</p>
      </div>
      <div *ngFor="let project of projects">
        <div>
          <p class="project-name">{{project.name}}</p>
          <input [formControl]="getFormControl(day, project)" *ngFor="let day of week" class="calendar-input" type="text">
        </div>
      </div>
    </div>
    <button mat-button (click)="submit()">Submit</button>
  </div>  
</div>
