.tsrecords {
    max-width: 480px;
    margin: 0 auto;
}

.desktop-button {
    width: 30%;
    margin-top: 10px;
}

.calendar-input {
    display: inline-block;
    width: 60px;
    height: 60px;
    /* border: 1px solid black;
    border-radius: 5px; */
    text-align: center;
    margin: 5px 0;
}

.header {
    background: white;
    padding: 2px 0;
    border-radius: 5px;
}

.header-cell {
    display: inline-block;
    width: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.project-name {
    display: inline-block;
    width: 60px;
    border-bottom: 1px solid black;
    background: white;
    border-top-left-radius: 5px;
}

.month-select {
    margin-top: 30px;
    text-align: center;
}

.arrow-button {
    height: 55px;
    font-size: 20px;
}

/* .calendar-selector {
    height: 60px;
} */


