.calendar-input {
    display: inline-block;
    width: 60px;
}

.project-name {
    display: inline-block;
    width: 60px;
}

.month-select {
    margin-top: 30px;
}

.arrow-button {
    height: 60px;
    margin-bottom: 5px;
}

/* .calendar-selector {
    height: 60px;
} */