
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="loginForm">
    <mat-form-field appearance="outline" [ngStyle.xs]="{'width.%': 100}">
      <mat-label>Email</mat-label>
        <input matInput formControlName="email"
          [errorStateMatcher]="matcher">
      </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle.xs]="{'width.%': 100}">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [ngStyle.xs]="{'width.%': 100}">Log In</button>
    <div class="error-div warn-background"*ngIf="error" [ngStyle.xs]="{'width.%': 100}">{{error}}</div>
  </form>
