h2 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
}

.main-card {
    max-width: 600px;
    margin: 0 auto;
}

.leave-requests {
    max-width: 630px;
    margin: 0 auto;
}

button {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 10px;
}

.delete-button {    
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-field {
    width: 200px;
}