.my-container {
    background: linear-gradient(to bottom, #f0f9ff 0%,#70c8ff 100%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    min-height: calc(100vh - 120px);
    padding: 30px 30px;
    text-align: center;
}

form {
    max-width: 350px;
    padding: 20px 50px;
    overflow: hidden;
    margin: 0 auto;
}

mat-form-field {
    min-width: 100%;
}

button {
    width: 100%;
    height: 60px;
    font-size: 20px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black;
    background: white !important;
    border-radius: 5px; 
}

::ng-deep .mat-form-field-label {
    color: black;
}

.error-div {
    padding: 10px 0;
    line-height: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    min-height: 60px;
    font-size: 20px;
    color: white;
}

p {
    font-size: 30px;
}