<form [formGroup]="registerCompanyForm" (ngSubmit)="onSubmit()">
  <div formGroupName="company">
    <p>Company Data</p>
    <mat-form-field appearance="outline">
      <mat-label>Company name</mat-label>
      <input matInput formControlName="name"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Company motto</mat-label>
      <input matInput formControlName="description"
        [errorStateMatcher]="matcher">
    </mat-form-field>
  </div>
  <div formGroupName="ownerRegisterUserDto">
    <p>Your Data</p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Free days per year</mat-label>
      <input matInput formControlName="freeDaysTotal"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Working Norm</mat-label>
      <input matInput formControlName="norm"
        [errorStateMatcher]="matcher">
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type="submit">Register Company</button>
  <div class="error-div warn-background"*ngIf="error">{{error}}</div>
</form>
