<form [formGroup]="registerCompanyForm">
  <div formGroupName="company">
    <p>Company Data</p>
    <mat-form-field appearance="outline" [ngStyle.xs]="{'width.%': 100}">
      <mat-label>Company name</mat-label>
      <input matInput formControlName="name"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle.xs]="{'width.%': 100}">
      <mat-label>Company motto</mat-label>
      <input matInput formControlName="description"
        [errorStateMatcher]="matcher">
    </mat-form-field>
  </div>
  <div formGroupName="ownerRegisterUserDto">
    <p>Your Data</p>
    <mat-form-field appearance="outline" [ngStyle.xs]="{'width.%': 100}">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle.xs]="{'width.%': 100}">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle.xs]="{'width.%': 100}">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle.xs]="{'width.%': 100}">
      <mat-label>Free days per year</mat-label>
      <input matInput formControlName="freeDaysTotal"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle.xs]="{'width.%': 100}">
      <mat-label>Working Norm</mat-label>
      <input matInput formControlName="norm"
        [errorStateMatcher]="matcher">
    </mat-form-field>
  </div>
  <button mat-flat-button color="primary" type="submit" [ngStyle.xs]="{'width.%': 100}" (click)="onSubmit()" [disabled]="registerCompanyForm.invalid">Register</button>
  <div class="error-div warn-background"*ngIf="error" [ngStyle.xs]="{'width.%': 100}">{{error}}</div>
</form>
