<form [formGroup]="registerCompanyForm" (ngSubmit)="onSubmit()">
  <div formGroupName="company">
    <mat-form-field class="full-width">
      <input matInput placeholder="Name" formControlName="name"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Description" formControlName="description"
        [errorStateMatcher]="matcher">
    </mat-form-field>
  </div>
  <div formGroupName="ownerRegisterUserDto">
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" formControlName="email"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="First Name" formControlName="firstName"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Last Name" formControlName="lastName"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Free days per year" formControlName="freeDaysTotal"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Norm" formControlName="norm"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Password" formControlName="password"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Confirm password" formControlName="passwordConfirm"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <button mat-button type="submit">Submit</button>
  </div>
</form>
