button {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.leave-request-form {
    display: inline;
}

.form-field {
    width: 130px;
}

.user {
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
}