<form [formGroup]="leaveRequestEditForm" *ngIf="leaveRequest">
  <p *ngIf="user">{{user.firstName + ' ' + user.lastName}}</p>
  <mat-form-field appearance="outline">
    <mat-label>Type</mat-label>
    <mat-select placeholder="Type" formControlName="type" name="type">
      <mat-option *ngFor="let type of leaveRequestTypes" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input formControlName="date" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status" name="status">
      <mat-option *ngFor="let status of leaveRequestStatuses" [value]="status">
        {{status}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button *ngIf="teamLeaveRequest()" mat-raised-button color="accent" (click)="onSubmit()">Update</button>
</form>
